<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/javatest.js' />

    <title>Document</title>

</head>
<body>
<div class="container">
    <img src=<%= pokemon.sprites.front_shiny %> alt="">
    <h1><%= pokemon.name %> </h1>
    <span > <% if(isFavori) { %> <span class="fav">⭐️</span><% } else { %> <span class="fav">✩</span> <% } %><a class="fav" href="/pokemon/favoris">Aller aux favoris</a></span>
    <% if(!isFavori) { %>
        <button onclick="favori()">Ajouter en favoris</button>
    <% } else { %>
        <button onclick="remove()">Supprimer des favoris</button>
    <% } %>
    <p class="fav">Ajouté en favori !</p>
    <p class="comment">commentaire : <%= c %></p>
    <textarea></textarea>
    <button onclick="comment()">commenter</button>
</div>

</body>
</html>