<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title1 %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Page Accueil
    </h1>
    <h1>
        <%= title2 %>
    </h1>
    <ul>
        <% pokemon.forEach(poke => { %>
            <li>
                <%= poke.name %>
            </li>
            <% }); %>

    </ul>

</body>

</html>